{% extends "common.html" %}
{% block vidhya %}
    <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table align="center" border="2" >
        <tr><th>delete</th></tr>
        <tr>

            <th>{{ object.name }}</th>
            <th>{{ object.age }}</th>
            <th>{{ object.email }}</th>
            <th>
                {{ object.course }}
            </th>
        </tr>
        <tr>
        <th><button type="submit">delete</button> </th>
        </tr>

    </table>
    </form>
{% endblock %}